@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html,
body {
  height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  color: #fff;
  overflow-x: hidden;
  background-color: #202020;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  overflow-x: hidden;
}

.header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  padding: 30px 0;
}

.header__item:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;

  transition: all ease .3s;
}

.header__item {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
}

.header__top .header__item {
  --c: #7f5af0;
  color: var(--c);
  font-size: 18px;
  border-bottom: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 190px;
  height: 3em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 32px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  display: block;
}

.header__top .header__item span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.header__top .header__item:hover {
  color: white;
}

.header__top .header__item:hover span {
  transform: translateY(0) scale(2);
}

.header__top .header__item span:nth-child(1) {
  --n: 1;
}

.header__top .header__item span:nth-child(2) {
  --n: 2;
}

.header__top .header__item span:nth-child(3) {
  --n: 3;
}

.header__top .header__item span:nth-child(4) {
  --n: 4;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 60px;
  align-items: center;
}

.header__img {
  height: 535px;
}

.header__content {
  font-family: "Oswald", sans-serif;
}

.header__title {
  font-size: 50px;
  line-height: normal;
}

.header__subtitle {
  font-size: 35px;
}

.title {
  text-align: center;
  font-size: 50px;
  line-height: 62px;
  margin-bottom: 32px;
  font-weight: 800;
}

.about-me {
  margin-bottom: 40px;
}

.about-me__text {
  font-size: 20px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #7f5af0;
  padding: 30px;
  font-weight: 500;
  text-align: justify;
}

.about-me__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.projects__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 550px);
  gap: 16px;
}

.projects__item {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #202020;
  border-radius: 8px;

  img {
    border-radius: 8px 8px 0 0;
  }
}

.projects__text {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.projects__title {
  font-size: 24px;
}

.projects__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}

.projects__btn {
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background-color: #7f5af0;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
}

.projects__btn:before {
  content: '';
  height: 20px;
  width: 20px;
  display: block;
  background-image: url("../images/link.svg");
}

.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.select__item {
  background-color: rgba(0, 0, 0, 0);
  color: #6c63ff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border: 1px solid #7f5af0;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  width: 250px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background-color .2s linear, color .2s linear;
}

.select__item--active {
  background-color: #7f5af0;
  color: #fff;
}

.projects {
  padding-bottom: 40px;
}

.projects-list-title {
  font-size: 20px;
}

.projects-list-title::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 16px 0;
  background-color: #7f5af0;
}

.card__list li::marker {
  color: #7f5af0;
}

.card__list li {
  display: list-item;
  margin-bottom: 8px;
  font-size: 16px;
}

.card__list {
  margin-left: 30px;
}

.experience__inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.experience {
  margin-bottom: 40px;
}

.experience__img {
  max-width: 80px;
}

.experience__content {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  max-width: 580px;
  width: 100%;
  box-shadow: 0px 1px 23px rgba(0, 0, 0, 0.16), 4px 8px 19px rgba(0, 0, 0, 0.23);
  background-color: #202020;
  border-radius: 8px;
  padding: 20px;
}

.experience__content h5 {
  font-size: 20px;
  margin-bottom: 8px;
}

.experience__content p {
  font-size: 15px;
}

.experience__list {
  list-style: none inside none;
  letter-spacing: 1px;
}

.experience__title {
  padding-bottom: 4px;
  display: inline-block;
  font-size: 1.125rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #7f5af0;
}

.initiative__content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 40px;
}

.initiative__subtitle {
  font-size: 20px;
  line-height: 42px;
  text-align: justify;
}

.initiative__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.initiative__text {
  max-width: 500px;
}

.initiative__img {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 300px;
}

.initiative__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #7f5af0;
  padding: 15px 20px;
  border-radius: 20px;
  justify-content: space-around;
  height: 200px;
  text-align: justify;
}

.initiative__item p:first-child {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.initiative__item p:last-child {
  letter-spacing: 1px;
  font-size: 16px;
}

.stack__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stack__list {
  margin: 32px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  list-style: none;
}

.stack__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 16px;
  border: 1px solid #7f5af0;
  border-radius: 9px;
  position: relative;
}

.stack__item:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 8px;
}

.stack__item:active {
  color: #ffffff;
}


.stack__item:hover:before {
  opacity: 1;
}

.stack__item:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #202020;
  left: 0;
  top: 0;
  border-radius: 8px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.projects__item img {
  height: 260px;
  width: 100%;
}

.stack__img {
  width: 38px;
}

.stack__text {
  letter-spacing: 1px;
}

.stack__subtitle {
  letter-spacing: 1px;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.stack {
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .projects__list {
    grid-template-columns: repeat(2, 450px);
  }
  .about-me__img {
    max-width: 46%;
  }
}

@media (max-width: 900px) {
  .projects__list {
    grid-template-columns: repeat(1, 68%);
  }
  .header__top {
    padding: 0;
    gap: 0;
  }
  .header__img {
    height: 469px;
  }
  .header__inner {
    align-items: flex-start;
  }
  .stack__list {
    margin: 10px 0;
    grid-template-columns: repeat(3, 1fr);
  }
  .experience__inner {
    flex-direction: column;
  }
  .experience__content {
    max-width: 100%;
  }
  .header__top .header__item {
    width: 158px;
  }
}

@media (max-width: 720px) {
  .about-me__content {
    flex-direction: column;
  }
  .header__inner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0 20px;
  }
  .header__top {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 17px;
  }
  .stack__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .projects__list {
    grid-template-columns: repeat(1, 98%);
  }
}

@media (max-width: 460px) {
  .header__title {
    font-size: 29px;
  }
  .header__subtitle {
    font-size: 18px;
  }
  .header__img {
    height: auto;
  }
  .header__top .header__item {
    margin: 10px;
  }
  .about-me__img {
    display: none;
  }
  .about-me__text {
    font-size: 18px;
    gap: 11px;
    padding: 18px;
    text-align: start;
  }
  .experience__img {
    max-width: 53px;
  }
  .projects__item img {
    height: 200px;
  }
  .experience__content {
    flex-direction: column;
  }
  .stack, .experience {
    margin-bottom: 20px;
  }
  .header__top .header__item {
    font-size: 16px;
    margin: 6px;
  }
  .container {
    padding: 0 10px;
  }
  .header__inner {
    align-items: self-start;
  }
  .header__content {
    margin-left: 18px;
  }
  .projects__list {
    grid-template-columns: repeat(1, 100%);
  }
}
